= render :partial => 'subheader', :locals => {:current => :own}

.section
  .section-content
    %table.data-table
      - @sites.each do |site|
        %tr{:class => cycle("even", "odd")}
          %td
            = link_to site.name, root_url(:subdomain => site.urlname)
          %td= site.description
          %td.time= l site.created_at, :format => :short
